.App {
  display: flex;
}

.wrap button, .gmnoprint{
  display: none;
}

.calendar_container{
  margin: 0;
  background-color: lightgray;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
}

.TimeList {
  margin: 0 0 0 1.5vw;
  overflow: scroll;
  height: 9vh;
}

.TimeListDiv {
  position: fixed;
  width: 20vw;
  bottom: 0;
  left: 0;
  margin: 0 0 28vh 0;
}

.ViewImageDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20vw;
  height: 28vh;
}

h1 {
  margin: 0.5vh 0.5vw;
  font-size: 1.5rem;
}

h3, p {
  margin: 0;
}

.ViewImage {
  text-align: center;
}

.image, .timeSlider {
  width: 15vw;
}
